ul.fade-slider
    li.fade-slider__item.fade-slider__item--tshirts.fade-slider__item--visible
        .fade-slider__text
            include ../../lined-text/_lined-text-1.pug
    li.fade-slider__item.fade-slider__item--games
        .fade-slider__text
            include ../../lined-text/_lined-text-2.pug
    li.fade-slider__item.fade-slider__item--presents
        .fade-slider__text
            include ../../lined-text/_lined-text-3.pug