.header
    .container
        .header__wrap
            a(href="./index.html") 
                img(src=require("./logo.png"), alt="Lost Shirt logo").header__logo
            a(href="mailto:lostinspace@mail.ru").header__link
                span.header__text По всем вопросам пишите на:
                span.header__mail lostinspace@mail.ru
