ul.filter
    li.filter__item
        a(href="#").filter__link.filter__link--active Популярное
    li.filter__item
        a(href="#").filter__link Новинки
    li.filter__item
        a(href="#").filter__link Бестселлеры
    li.filter__item
        a(href="#").filter__link Специальные преложения
    li.filter__item
        a(href="#").filter__link Скоро в продаже